    <div id="grabUrl">
        <div id="linkBox" class="linkBox" data="linkbox">
            <ul id="linkList" data="{{links.length}}">

                <li ng-repeat="link in links | filter:query | filter:filterFunc | orderBy:'-dateAdded' track by link.id" id="fol-{{link.id}}" class="ui-state-default linkItem" data="{{link.url ? false : true}}"><input id="lnk-{{ link.id }}" class="deleteLink btn btn-default" type="button" value="x" data="del"><span id="tit-{{ link.id }}" class="linkTitle" data="update">{{ link.title.substr(0,34) }}</span><input id="inp-{{link.id}}" class="hide-class titleInput" type="text" value="{{link.title}}"><img img-fade-in-onload="{{imgSrc}}" class="linkFavicon" ng-if="link.url" height="16" width="16" src='http://www.google.com/s2/favicons?domain={{link.url.substr(0,4) === "file" || link.url.substr(0,5) === "chrom" || link.url.substr(0,4) === "data" ? "google.com" : link.url}}' /><div ng-if="link.url"><br></div>
                <a class="linkUrl" ng-if="link.url" href="{{ link.url }}">{{ link.url.substr(0,50) }}</a>
                <!-- <div ng-if="link.url" class="iBox"><iframe src="{{link.url}}" frameborder="0" width="95%"></iframe></div> -->
                <input ng-if="!link.url" id="but-{{link.id}}" class="btn btn-primary openAllBtn" type="button" value="open all">
                </li>
                
            </ul>
        </div>
    </div>