<!doctype html>
<html ng-app="linkzApp">
  <head>
    <meta charset="utf-8">
    <!-- build:css styles/popup-vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css styles/main.css -->
    <link href="https://fonts.googleapis.com/css?family=Exo:900" rel="stylesheet">
    <link href="styles/main.css" rel="stylesheet">
    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- endbuild -->
    <script src="libs/angular.js"></script>
    <script src="libs/jquery-3.1.0.min.js"></script>
    <script src="scripts/app.js"></script>
  </head>
  <body ng-controller="listCon">
    <div id="queryBox">
        <center>
            <h1 id="linkzTitle">Linkz</h1>
            <form class="searchForm">
              <input ng-model="query" type="text"
                placeholder="Filter by" autofocus>
            </form> 
        </center>   
    </div>
    <hr>
    <!-- <input id="deleteLink" type="button" value="xxx"> -->
    <div id="grabUrl">
        <div id="linkBox">
            <ul id="linkList" ng-repeat="link in links | filter:query | orderBy:'-dateAdded'">

                <li ng-if="!waiting" id="fol-{{link.id}}" class="linkItem" data="{{link.id}}"><input id="lnk-{{ link.id }}" class="deleteLink btn btn-danger" type="button" value="x"> <span>{{ link.title.substr(0,50) }}</span>
                <a href="{{ link.url }}">{{ link.url.substr(0,50) }}</a>
                <!-- {{link.url ? 'nobutt' : getButton(link.id)}} -->
                <input ng-if="!link.url" id="but-{{link.id}}" type="button" value="open all">
                </li>

                <img ng-if="waiting" src="images/processing.svg" alt="">
                
            </ul>
        </div>
    </div>

    <div id="buttonDeck">
        <input id="addLink" class="btn btn-default" type="button" value="Add Link"><input id="addAll" class="btn btn-info" type="button" value="Add All Links">
    </div>

    <!-- build:js scripts/popup-vendor.js -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/popup.js -->
    <script src="scripts/popup.js"></script>

    <!-- endbuild -->
  </body>
</html>
