<!doctype html>
<html ng-app="linkzApp">
  <head>
    <meta charset="utf-8">
    <!-- build:css styles/popup-vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css styles/main.css -->
    <link href="https://fonts.googleapis.com/css?family=Exo:900" rel="stylesheet">
    <link rel="stylesheet" href="styles/jquery-ui.min.css">
    
    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="styles/main.css" rel="stylesheet">
    <!-- endbuild -->
    <script src="libs/angular.js"></script>
    <script src="libs/jquery-3.1.0.min.js"></script>
    <script src="libs/jquery-ui.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/directive.js"></script>
    <script src="scripts/service.js"></script>
    <!-- <script src="scripts/component.js"></script> -->
    <script src="scripts/postloadController.js"></script>
    <script src="libs/angular-route.js"></script>
    <script src="libs/imagesloaded.js"></script>
  </head>
  <body ng-controller="listCon">
    <div id="queryBox">
        <center>
            <span style="float:left;"><input id="addLink" class="btn btn-primary linkBut raised" height="2.2em;" type="button" value="+" tabindex="-1"></span><span style="float:right;"><input id="addAll" class="btn btn-primary linkBut raised" height="2.2em;" type="button" value="++" tabindex="-1"></span>

            <form class="searchForm">
            <!-- mass-autocomplete -->
                <div>
                  <input id="queryInput" ng-model="query" type="text"
                    placeholder="Search.." autofocus="true" auto-comp><input id="folderCheckbox" type="checkbox" ng-model="checkboxModel.value">

                    <div id="folderBox" class="hide-class">
                        <div class="container">
                            <div class="row">
                                <form id="folderNameForm">
                                    <div class="col-xs-8">
                                        <input id="folderNameInput" class="hide-class" type="text" placeholder="Folder Name.." autocomplete="off">
                                    </div>
                                    <div class="col-xs-4" style="padding:0px 7px 0px 7px;">
                                        <input id="folderNameSubmit" class="btn btn-default hide-class greenHov" type="submit">
                                        <input id="folderNameCancel" class="btn btn-default hide-class" type="submit" style="float:right;" value="x">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div id="addBox" class="hide-class">
                        <div id="addFormBox" class="hide-class">
                            <form id="linkNameForm">

                                <div class="container">
                                    <div class="row">
                                        <form id="linkNameForm">
                                            <div class="col-xs-8">
                                               <!--  <select id="linkDestInput" class="hide-class" ng-model="linkDest" ng-options="folder as folder.title.substr(0,49) for folder in folders track by folder.id" width="40">
                                                </select>  -->
                                                <input id="linkNameInput" class="hide-class" type="text" maxlength="30" placeholder="Name Yo Link..">
                                            </div>
                                            <div class="col-xs-4" style="padding:0px 7px 0px 7px;">
                                                <input id="linkNameSubmit" class="btn btn-default hide-class greenHov" type="submit" style="float:left">
                                                <input id="linkNameCancel" class="btn btn-default hide-class" type="submit" style="float:right;" value="x">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-8">
                                            <span class="destPre glyphicon glyphicon-folder-open"></span><p id="destFolderName" class="destFolder"></p>
                                        </div>
                                        <div class="col-xs-4">
                                        </div>                                    
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                    <div id="alertBox" class="hide-class">
                        
                    </div>
                </div>
            </form> 



        </center>   
    </div>

    <!-- <link-list ng-if="allAboard"></link-list> -->
    <!-- <hr> -->
    <!-- <input id="deleteLink" type="button" value="xxx"> -->

    <div id="grabUrl">
        <div id="linkBox" class="linkBox" data="linkbox">
            <ul id="linkList" data="{{links.length}}">

                <li ng-repeat="link in links | filter:query | filter: (checkboxModel.value || '') && filterFunc | orderBy:'-dateAdded' track by link.id" id="fol-{{link.id}}" class="ui-state-default linkItem" data="{{link.url ? false : true}}" title="{{ link.title }}"><input id="lnk-{{ link.id }}" class="deleteLink btn btn-default" type="button" value="x" data="del"><span id="tit-{{ link.id }}" class="linkTitle" data="update">{{ link.title.substr(0,34) }}</span><input id="inp-{{link.id}}" class="hide-class titleInput" type="text" value="{{link.title}}"><img img-fade-in-onload="{{imgSrc}}" class="linkFavicon" ng-if="link.url" height="16" width="16" src='http://www.google.com/s2/favicons?domain={{link.url.substr(0,4) === "file" || link.url.substr(0,5) === "chrom" || link.url.substr(0,4) === "data" ? "google.com" : link.url}}' /><div ng-if="link.url"><br></div>
                <a class="linkUrl" ng-if="link.url" href="{{ link.url }}">{{ link.url.substr(0,50) }}</a>
                <!-- <div ng-if="link.url" class="iBox"><iframe src="{{link.url}}" frameborder="0" width="95%"></iframe></div> -->
                <input ng-if="!link.url && !folderMod.value" id="but-{{link.id}}" class="btn btn-primary openAllBtn" type="button" value="open all">
                <input ng-if="!link.url && folderMod.value" id="but-{{link.id}}" class="btn btn-primary openAllBtn addto" type="button" value="add">
                </li>
                
            </ul>
        </div>
    </div>

    <div id="buttonDeck">
        <center>
        <div id="folderDrop" class="ui-widget-header dropBox">
            <span>drop folder here</span>
        </div>
        </center>
    </div>

    <!-- build:js scripts/popup-vendor.js -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/popup.js -->
    <script src="scripts/popup.js"></script>

    <!-- endbuild -->
  </body>
</html>
