<!doctype html>
<html ng-app="linkzApp">
  <head>
    <meta charset="utf-8">
    <!-- build:css styles/popup-vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css styles/main.css -->
    <link href="https://fonts.googleapis.com/css?family=Exo:900" rel="stylesheet">
    <link rel="stylesheet" href="styles/jquery-ui.min.css">
    
    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="styles/main.css" rel="stylesheet">
    <!-- endbuild -->
    <script src="libs/angular.js"></script>
    <script src="libs/jquery-3.1.0.min.js"></script>
    <script src="libs/jquery-ui.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/directive.js"></script>
    <script src="scripts/service.js"></script>
  </head>
  <body ng-controller="listCon">
    <div id="queryBox">
        <center>
            <span style="float:left;"><input id="addLink" class="btn btn-primary linkBut raised" height="2.2em;" type="button" value="Add Link" tabindex="-1"></span><span style="float:right;"><input id="addAll" class="btn btn-primary linkBut raised" height="2.2em;" type="button" value="Add Links" tabindex="-1"></span>

            <!-- <h1 id="linkzTitle">Linkz</h1> -->

            <form class="searchForm">
            <!-- mass-autocomplete -->
                <div>
                  <input id="queryInput" ng-model="query" type="text"
                    placeholder="Search.." autofocus="true" auto-complete><input id="folderCheckbox" type="checkbox" ng-model="checkboxModel.value">
                </div>
            </form> 
            <!-- mass-autocomplete-item="autocomplete_options" -->


        </center>   
    </div>
    <!-- <hr> -->
    <!-- <input id="deleteLink" type="button" value="xxx"> -->
    <div id="grabUrl">
        <div id="linkBox">
            <ul id="linkList" data="{{links.length}}">

                <li ng-repeat="link in links | filter:query | filter:filterFunc | orderBy:'-dateAdded' track by link.id" id="fol-{{link.id}}" class="ui-state-default linkItem" data="{{link.url ? false : true}}"><input id="lnk-{{ link.id }}" class="deleteLink btn btn-default" type="button" value="x" data="del"> <span>{{ link.title.substr(0,50) }}</span>
                <a href="{{ link.url }}">{{ link.url.substr(0,50) }}</a>
                <input ng-if="!link.url" id="but-{{link.id}}" class="btn btn-primary openAllBtn" type="button" value="open all">
                </li>
                
            </ul>
        </div>
    </div>

    <div id="buttonDeck">
        <center>
        <div id="folderDrop" class="ui-widget-header dropBoxes">
            <span>drop folder here</span>
        </div><div id="anyDrop" class="ui-widget-header dropBoxes">
            <span>drop anything here</span>
        </div>
        </center>
    </div>

    <!-- build:js scripts/popup-vendor.js -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/popup.js -->
    <script src="scripts/popup.js"></script>

    <!-- endbuild -->
  </body>
</html>
